@model IEnumerable<WebApp.Models.UserProfile>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nickname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PreferredLanguage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReadingLanguages)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LearningStyle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LovedGenres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DislikedGenres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TonePreference)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LearningGoals)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FavoriteAuthors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AboutMe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgentProfileCompact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgentProfileVersion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nickname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreferredLanguage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReadingLanguages)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LearningStyle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LovedGenres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DislikedGenres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TonePreference)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LearningGoals)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FavoriteAuthors)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AboutMe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgentProfileCompact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgentProfileVersion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
